.calculator {
  padding-top: 1rem;
  gap: 40px;
}
.top-calc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  width: 100%;
}
.input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  width: 100%;
}
.input-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  color: rgb(208, 220, 232);
}
.input-div h2 {
  font-size: 1.2rem;
}
.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  /* background-color: #31333b; */
  background-color: rgba(30, 39, 53, 1);
  border: 1px solid rgb(208, 220, 232);
  border-radius: 15px;
  padding: 10px 20px;
}
.input input {
  flex: 0.8;
  border: navajowhite;
  height: 100%;
  background: transparent;
  font-size: 1.2rem;
  color: rgb(208, 220, 232);
}

.input input:focus {
  border: none;
  outline: none;
}

.input h1 {
  text-align: right;
  flex: 0.2;
  font-size: 1rem;
}
.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
}
.slider h1 {
  font-size: 1.3rem;
}
.rangeslider-horizontal {
  width: 100%;
}
.rangeslider-horizontal .rangeslider__fill {
  background-image: linear-gradient(170deg, #093d85 0%, 77%);
}
.rangeslider {
  background-color: transparent !important;
  border: 1px solid rgb(208, 220, 232);
}
.estimates {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.row-estimate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.row-estimate p:first-child {
  color: white;
  font-size: 1rem;
}
.row-estimate p:last-child {
  color: rgb(208, 220, 232);
  font-size: 1.1rem;
}
@media screen and (max-width: 800px) {
  .input-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 420px) {
  .input-div h2 {
    font-size: 1.2rem;
  }
  .input h1 {
    font-size: 0.9rem;
  }
  .slider h1 {
    font-size: 1.2rem;
  }
  .top-calc {
    align-items: center;
  }
}
